{% extends "base.html" %}
{% block content %}


  <div class="moon-page">

    <nav class="user"><p>Welcome: {{ user.name }}</p></nav>

    <nav class="moon-nav">
      <a href="/planets/{{planet.id}}">Back to Planet</a>
      <a href="/planets/{{planet.id}}/moons/{{moon.id}}/edit">Edit</a>
      <a href="/planets/{{planet.id}}/moons/new">New Moon</a>
    
      <form class="delete-form" action="/planets/{{planet.id}}/moons/{{moon.id}}/delete" method="POST">
        <button class="destroy-button">DELETE</button>
      </form>
  
    </nav>

    <div class="single-moon-container">

      <div class="moon-overview">
      <h1>{{moon.name}}</h1>
      <p>Orbital Period: {{ moon.orbital_period }} days</p>
      <p>Mean Radius: {{ moon.mean_radius }} km</p>
      <p>{{ moon.description }}</p>
      </div>

      <div class="moon-image">
        <img src="{{ moon.image }}" alt="The moon {{ moon.name }}" width="550" height="550">
      </div>


    </div>




  </div>

{% endblock %}
