{% extends "base.html" %}
{% block content %}

  <div>
    <h1>{{ planet.name }}</h1>
    <p>Mass: {{ planet.mass }}</p>
    <p>Temperature: {{ planet.temp }}</p>
    <p>Gravity: {{ planet.gravity }}</p>
    <img src="{{ planet.image }}" alt="The planet {{ planet.name }}" width="650" height="650">
    <p><a href="/planets/{{planet.id}}/edit">Edit</a></p>
    <a href="/planets/{{planet.id}}/moons">Moons</a>


    <div class="buttons">

      <form class="delete-form" action="/planets/{{planet.id}}/delete" method="POST">
        <button class="destroy-button"><i class="fa-light fa-explosion fa-2xl" style="color: #eb0f1a;"></i></button>
      </button>
      </form>
  </div>

{% endblock %}

