body, html {
  height: 100%;
  font-family: 'Roboto Condensed';font-size: 22px;color: aquamarine;

}

.home-body {
  background-color: black;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page {
  background-image: url("img/sun.png");
}

/* .content {
  border-width: 2px;
  border-bottom: 2px;
  border-color: aquamarine;
  border-style: solid;
} */