body, html {
  height: 100%;
  font-family: 'Roboto Condensed';font-size: 22px;color: aquamarine;
}

.login-panel {
  margin: 40px;
}

.site-title {
  font-size: 48px;
  font-weight: bolder;
  color: cornflowerblue;
  margin: 40px;
}

.site-title > a:link {
  text-decoration: none;
  font-size: 48px;
  font-weight: bolder;
  color: cornflowerblue;
}

.site-title > a:visited {
  text-decoration: none;
  font-size: 48px;
  font-weight: bolder;
  color: cornflowerblue;
}

.site-title > a:hover {
  text-decoration: none;
  font-size: 48px;
  font-weight: bolder;
  color: hotpink;
}

.site-title > a:active {
  text-decoration: none;
  font-size: 48px;
  font-weight: bolder;
  color: red;
}

.base-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  border-bottom-style: none;
}



.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 36px;
  align-items: center;

}

.planet-card1 {
  /* background-color: aliceblue; */
  display: flex;
  height: 200px;
  margin: 40px;
}

.planet-image2 {
  /* background-color: blue; */
}

.planet-image2 img {
  height: 200px;
}

.planet-details3 {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.planet-title4 {
  /* background-color: green; */
  flex-grow: 2;
}

.planet-title4 > a:link {
  text-decoration: none;
  color: aquamarine;
}

.planet-title4 > a:visited {
  text-decoration: none;
  color: aquamarine;
}

.planet-title4 > a:hover {
  text-decoration: none;
  color: hotpink;
}

.planet-title4 > a:active {
  text-decoration: none;
  color: red;
}

.moon-list5 {
  /* background-color: blueviolet; */
  flex-grow: 2;
}

.moon-list5 img {
  height: 75px;
}

.menu > ul > li {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}

.menu > li > a:link {
  text-decoration: none;
  color: aquamarine;
}

.menu > li > a:visited {
  text-decoration: none;
  color: aquamarine;
}

.menu > li > a:hover {
  text-decoration: none;
  color: hotpink;
}

.menu > li > a:active {
  text-decoration: none;
  color: red;
}

.report {
  margin: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.home-body {
  background-color: black;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-planet-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 40px;

}

.moon-list {
  margin: 40px;
}

.moon-nav {
  margin: 40px;
  display: inline;
}

.moon-list > h3 {
  text-decoration: overline;
}

nav {
  margin: 40px;
  color: cornflowerblue;
  border-width: 5px;
  border-color: cornflowerblue;
  border-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

nav > a:link {
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: cornflowerblue;
}

nav > a:visited {
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: cornflowerblue;
}

nav > a:hover {
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: hotpink;
}

.planets.nav > a:active {
  text-decoration: none;
  font-size: 36px;
  font-weight: bolder;
  color: red;
}


.report > ul > li {
  display: inline;
}

.report > ul > li > p {
  display: inline;
}


.discoveries-list > li > p {
  color: rgb(0, 166, 255);
}

.discoveries-list {
  border-top-style: solid;
  border-color: aquamarine;
}

.alterations-list > li > p {
  color: rgb(255, 145, 0);
}

.destructions-list > li > p {
  color: red;
}

