body, html {
  height: 100%;
  font-family: 'Roboto Condensed';font-size: 22px;color: aquamarine;
}

.site-title {
  font-size: 48px;
  font-weight: bolder;
  color: cornflowerblue;
}
.base-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

}

.menu > ul > li {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}

.menu > li > a:link {
  text-decoration: none;
  color: aquamarine;
}

.menu > li > a:visited {
  text-decoration: none;
  color: aquamarine;
}

.menu > li > a:hover {
  text-decoration: none;
  color: hotpink;
}

.menu > li > a:active {
  text-decoration: none;
  color: red;
}


.home-body {
  background-color: black;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .content {
  border-width: 2px;
  border-bottom: 2px;
  border-color: aquamarine;
  border-style: solid;
} */