{% extends "base.html" %}
{% block home %}

<section id="home-page">
    <p>Login</p>
    <p>This is the form for a user to enter their name</p>

    <div class="dropdown">
      <button class="dropbtn">Login</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

<form action="/" method="post">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  <button type="submit">Add User</button>
</form>

</section>

{% endblock %}
