{% extends "base.html" %}
{% block home %}

<section id="home-page">
    <p>Login</p>


    <div class="dropdown">
      <button class="dropbtn">Login</button>
      <div class="dropdown-content">
        {% for user in users %}
          <a href="/users/{{user.id}}">{{ user.name }}</a>
        {% endfor %}
      </div>
    </div>

<p>This is the form for a user to enter their name</p>
<form action="/" method="post">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  <button type="submit">Add User</button>
</form>

</section>


{% endblock %}
