{% extends "base.html" %}
{% block content %}

<section id="home-page">
  <div class="login-panel">
    <p>Existing User Login:</p>


    <div class="dropdown">
      <div class="users">
        {% for user in users %}
          <a href="/users/{{user.id}}">{{ user.name }} |</a>
        {% endfor %}
      </div>
    </div>
    <p>New User Login:</p>
    <form action="/" method="post">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
      <button type="submit">New User</button>
    </form>    
  </div>
</section>


{% endblock %}
